<div class="container-fluid aboutCont p-5">


  <div class="container Specialists  pt-5">

    <h3 class="text-center"><strong>About Kamsos</strong></h3>
    <p class="text-center mb-5">
      <span><i class="fas fa-gem"></i></span>
    </p>

    <div class="info">
      <p class="text-center">Pastrolists and farmers will learn major livestock education like animal production, feed manufacturing, feed conservation, livestock marketing, value chain development, range management, disaster and risk reduction
        mitigation,
        Extension advisory on production systems, livestock breeding and increased productivity, livestock disease causes, prevention & treatment <i>etc.</i> online and get prescribed veterinary drugs online from the nearest agrovet through the
        site.
      </p>
      <p class="text-center mb-5"> <strong>Kamsos'</strong> goal is transforming the traditional methodologies of veterinary and animal-production services provision.
      </p>
    </div>


  </div>


</div>

<div class="container">



  <h3 class="text-center mt-5"><strong>Meet our Specialists</strong></h3>
  <p class="text-center mb-5">
    <span><i class="fas fa-gem"></i></span>
  </p>

  <div class="row my-5">
    <div class="col-md-3">
      <img class="img-fluid images-property" src="assets/images/about1.jpeg">
    </div>
    <div class="col-md-7">
      <h3 class="mb-4"> <strong>Ms Kowthar A. Mohamed</strong> </h3>
      <p>Kowthar is a dryland and animal scientist hailing from Garissa county, North Eastern region of Kenya. Her passion for helping pastrolists/farmers from marginalized areas to get any veterinary services easily, efficiently and free of
        charge contributed to the birth of <strong>Kamsos</strong>. Through her effort pastrolists & farmers are connected to veterinary doctors and centres such as animal health, animal feed, livestock market <i>etc</i>.</p>
    </div>


  </div>


  <br>
  <br>

  <div class="row">
    <div class="col-md-3">
      <img class="img-fluid images-property" src="assets/images/about2.jpeg">

    </div>
    <div class="col-md-7">
      <h3 class="mb-4"><strong> Mr. Abdi M. Sahid</strong> </h3>
      <p>All things, good, bad or indifferent, start from a defining moment. The defining moment that signalled the birth of <strong>Kamsos</strong> was a comment from Mr Abdi M. Sahid who told me straight out that I needed to find a
        group of like
        thinkers
        and start down a path to live my passion.</p>
    </div>

  </div>
</div>
