
.aboutCont{
  background-image: url("src/assets/images/Untitled design.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  color: #000;
}
.Specialists {}

  .Specialists .info p{
    font-size: 20px;
  }

.Specialists .row img {
  width: 150px;
  height: 150px;
}
