<!-- <br><br><br><br><br> -->
<div class="container pt-5">

  <div class="row lessonsIntro mb-4">

    <div class="col-md-3 text-center">
      <img src="assets/images/Livestock.png">
    </div>
    <div class="col-md-7">
      <button class="btn btn-default px-3 mb-3">
        7 Lessons
      </button>
      <h3 class="mb-3"><strong>Understanding Livestock Keeping , Systems & Management </strong></h3>
      <p>Statisctics have proven that many people let their animals look after themselves. It's about time we <strong>learnt</strong> how to provide a better place for them to live, better food and water. <br>This would directly result into getting
        even more value from your livestock.</p>

    </div>

  </div>

  <br><br>
  <div class="lessonsInfo">

    <h3 class="mb-4"><strong>Learn about ... </strong></h3>
    <div class="row mb-3">
      <div class="col-md-3">
        <div class="number text-center py-1 mb-1">1</div>

        <h5><a href="https://drive.google.com/file/d/1fOhGuEnf2djDaRuPUdKpIv2ddEkCJoTO/view?usp=sharing" data-trigger="hover" data-toggle="popover" data-placement="bottom" data-content="Read PDF">
            Keeping Animals Healthy
          </a></h5>

        <p>Give food and water at regular times through the day, don’t let animal become dehydrated.</p>

        <a class="btn readPdfBtn btn-sm" href="https://drive.google.com/file/d/1fOhGuEnf2djDaRuPUdKpIv2ddEkCJoTO/view?usp=sharing" target="_blank">Read PDF</a>
      </div>
      <div class="col-md-3">
        <div class="number text-center py-1 mb-1">2</div>

        <h5><a href="https://drive.google.com/file/d/1JYqZ9YWmExQWM6T2VYlg0Bb7yO7P3U_z/view?usp=sharing" data-trigger="hover" data-toggle="popover" data-placement="bottom" data-content="Read PDF">
            Livestock Behaviour
          </a></h5>

        <p>It is important to observe and assess livestock's behavior patterns to determine the presence of good health, stress or pain.</p>

        <a class="btn readPdfBtn btn-sm" href="https://drive.google.com/file/d/1JYqZ9YWmExQWM6T2VYlg0Bb7yO7P3U_z/view?usp=sharing" target="_blank">Read PDF</a>

      </div>
      <div class="col-md-3">
        <div class="number text-center py-1 mb-1">3</div>

        <h5><a href="https://drive.google.com/file/d/1jIptrKqGvzLxJjvx3IUCss_zNSo0FnjX/view?usp=sharing" data-trigger="hover" data-toggle="popover" data-placement="bottom" data-content="Read PDF">
            Feeding Systems & Resources
          </a></h5>

        <p>feeding systems can be subdivided into Extensive (pastoral), Semi-intensive (agro-pastoral) and Intensive(agricultural or village). </p>
        <br>

        <a class="btn readPdfBtn btn-sm" href="https://drive.google.com/file/d/1jIptrKqGvzLxJjvx3IUCss_zNSo0FnjX/view?usp=sharing" target="_blank">Read PDF</a>

      </div>
      <div class="col-md-3">
        <div class="number text-center py-1 mb-1">4</div>

        <h5><a href="https://drive.google.com/file/d/1fsYp1tFMAaiseVuTvA59zlTeJ4zSIFKG/view?usp=sharing" data-trigger="hover" data-toggle="popover" data-placement="bottom" data-content="Read PDF">
            Breeding & Disease Management
          </a></h5>

        <p>Animal breeding is a branch of animal science that addresses the evaluation of the genetic value of domestic livestock.</p>

        <a class="btn readPdfBtn btn-sm" href="https://drive.google.com/file/d/1fsYp1tFMAaiseVuTvA59zlTeJ4zSIFKG/view?usp=sharing" target="_blank">Read PDF</a>

      </div>


    </div>

    <hr>

    <div class="row my-5">
      <div class="col-md-3">
        <div class="number text-center py-1 mb-1">5</div>

        <h5><a href="https://drive.google.com/file/d/1nrg3uYulJbHMnmsrr3lqJl3jpS0Co6VG/view?usp=sharing" data-trigger="hover" data-toggle="popover" data-placement="bottom" data-content="Read PDF">
            Livestock's Economic Importance
          </a></h5>

        <p>Livestock has contributed to Nutrition,
          Income generation and Intangible benefits in developing countries. </p>

          <a class="btn readPdfBtn btn-sm" href="https://drive.google.com/file/d/1nrg3uYulJbHMnmsrr3lqJl3jpS0Co6VG/view?usp=sharing" target="_blank">Read PDF</a>

      </div>
      <div class="col-md-3">
        <div class="number text-center py-1 mb-1">6</div>

        <h5><a href="https://drive.google.com/file/d/1GsnP6F5tPyEvy9I966okgipS9DWD7omS/view?usp=sharing" data-trigger="hover" data-toggle="popover" data-placement="bottom" data-content="Read PDF">
            Ruminants-handling Structures
          </a></h5>

        <p>In modern production systems, where large flocks are raised and managed, facilities to handle them are essential for efficient management.</p>
        <br>

        <a class="btn readPdfBtn btn-sm" href="https://drive.google.com/file/d/1GsnP6F5tPyEvy9I966okgipS9DWD7omS/view?usp=sharing" target="_blank">Read PDF</a>

      </div>


      <div class="col-md-3">
        <div class="number text-center py-1 mb-1">7</div>

        <h5><a href="https://drive.google.com/file/d/1xVxL3o9gFZ2dxt9CHCG3D1nEw8kMb2ld/view?usp=sharing" data-trigger="hover" data-toggle="popover" data-placement="bottom" data-content="Read PDF">
            Production Systems
          </a></h5>

        <p>They are based on the level of management, the land size , Target product and Livestock breed .</p>

        <a class="btn readPdfBtn btn-sm" href="https://drive.google.com/file/d/1xVxL3o9gFZ2dxt9CHCG3D1nEw8kMb2ld/view?usp=sharing" target="_blank">Read PDF</a>



      </div>
      <div class="col-md-3">

      </div>


    </div>

  </div>

</div>
