.vetDetail {
  min-height: 90vh;
  padding: 10% 0 0 0;
}
.vetDetail .container{
  border-radius: 25px;
  background-color: #f9f9f9;
  box-shadow: 0 0 23px 0 rgba(0, 0, 0, 0.2);
}

.vetDetail span i {
  font-size: 20rem;
  padding: 20px;
  border-radius: 8px;
}

.vetDetail .content h4 small {
  color: #80868b;
  text-transform: lowercase !important;
}
.vetDetail .content .btn {
  width: 300px;
}
