<div class="vetDetail">

  <div class="container p-5">
    <div class="row">

      <div class="col-md-6 text-center">
        <span>
          <img class="img-fluid" src="{{vet.vet_image}}"/>
        </span>

      </div>

      <div class="col-md-6">

        <div class="content text-capitalize">
          <h1>{{vet.username}}</h1>
          <h4>{{ vet.first_name + " " + vet.last_name}} <small class="ml-3">( {{vet.email}} )</small></h4>
          <hr>
          <span><strong>County -</strong> {{ vet.county}} </span><br>
          <span><strong>Sub-County -</strong> {{ vet.sub_county }} </span>
          <br>
          <br>
          <p><strong>Qualifications</strong></p>
          <p> {{vet.qualifications}}</p>
          <br>
          <button class="btn btn-outline-success" (click)="submitRequest()" routerLink="/checkout">Request vet</button>

          <!-- <div class="row">
          <div class="col-md-6">
            <a href="tel:+254789268466">Call for vet</a><br>

          </div>
          <div class="col-md-6">
            <button class="btn btn-outline-success" (click)="submitRequest()">Request this vet</button>

          </div>

        </div> -->
        </div>

      </div>

    </div>
  </div>
</div>
