<br>
<br>
<div class="auth-page mt-5">
  <div class="container page">
    <div class="row rowAuth">

      <div class="card authCard p-4 col-md-5 col-xs-12">


        <h1 class="text-xs-center text-center">{{ title }}</h1>

        <app-list-errors [errors]="errors"></app-list-errors>

        <form [formGroup]="authForm" (ngSubmit)="submitForm()">
          <fieldset [disabled]="isSubmitting">

            <!-- <fieldset class="form-group">
              <input formControlName="username" placeholder="Username" class="form-control form-control-lg" type="text" *ngIf="authType == 'register'" />
            </fieldset> -->

            <mat-form-field class="form-group" appearance="outline" *ngIf="authType == 'register'">
              <mat-label>Username</mat-label>
              <input matInput formControlName="username"  type="text"  required>
              <mat-icon matSuffix>account_circle</mat-icon>
            </mat-form-field>

            <br>

            <mat-form-field class="form-group" appearance="outline" *ngIf="authType == 'register'">
              <mat-label>Phone Number</mat-label>
              <input matInput formControlName="phone_number"  type="text"  required>
              <mat-icon matSuffix>phone</mat-icon>
            </mat-form-field>

            <br>

            <mat-form-field class="form-group" appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput formControlName="email" type="text" required>
              <mat-icon matSuffix>email</mat-icon>
              <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
            </mat-form-field>



            <!-- <fieldset class="form-group">
              <input formControlName="email" placeholder="Email" class="form-control form-control-lg" type="text" />
            </fieldset> -->

              <mat-form-field  class="form-group" appearance="outline" *ngIf="authType == 'login'">
                <mat-label>Password</mat-label>
                <input matInput formControlName="password"  [type]="hide ? 'password' : 'text'" type="password" required>
                <mat-icon matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </mat-form-field>


            <div class="row" [hidden]="authType == 'login'">
              <div class="col-md-5">

                  <mat-form-field  appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" type="password" required>
                  </mat-form-field>

              </div>


              <div class="col-md-5">

                <mat-form-field  appearance="outline">
                  <mat-label>Confirm Password</mat-label>
                  <input matInput [type]="hide ? 'password' : 'text'" type="password" >
                  <!-- show error if passwords dont match -->
                  <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
                </mat-form-field>

              </div>

              <div class="visibilityIcon col-md-2 mt-4 ">
                <mat-icon matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>

              </div>

            </div>

            <!-- <fieldset class="form-group">
            <input formControlName="password" placeholder="Password" class="form-control form-control-lg" type="password" />
          </fieldset> -->


            <div class="row">
              <div class="col-md-6">
                <a [routerLink]="['/login']" *ngIf="authType == 'register'">Have an account?</a>
                <a [routerLink]="['/register']" *ngIf="authType == 'login'">Need an account?</a>

              </div>
              <div class="col-md-6 text-right">
                <button mat-flat-button class="submitBtn" type="submit">
                  {{ title }}
                </button>
              </div>
            </div>


            <!--
            <button class="btn btn-lg btn-primary pull-xs-right" type="submit">
            </button> -->

          </fieldset>

        </form>
      </div>

    </div>
  </div>
</div>

<br><br>
<br><br>
