.auth-page {}

.rowAuth {
  display: flex;
  justify-content: center;
  align-items: center;
}

.authCard {
  border: none;
  box-shadow: 0 20px 20px 2px rgba(0, 0, 0, 0.1);
}

button {
  color: #fff;
  background-color: #166d9e
}

.mat-form-field {
  width: 100%
}

::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: #000 !important;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: #000 !important;
}

::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: #000 !important;
  ;
}

.visibilityIcon {
  cursor: pointer;
}

::ng-deep .form-group, .submitBtn {
  font-family: 'Quicksand', sans-serif;
}
