<div class="home-page" *appShowAuthed="false">
  <div class="home-page">

    <main>
      <div class="container-fluid welcome pt-5">

        <div class="container ">

          <div class="row">

            <div class="col-md-6">
              <h1 class="mb-4 text-right"><strong>Livestock Care, just how they deserve it </strong></h1>

              <p class="text-right">Kamsos will help you find professional <strong>Veterinary and Animal production</strong> specialists online conveniently.
              </p>

              <div class="row text-center">

                <div class="col-md-6">
                  <button class="btn btn-outline-light learnMoreBtn my-3 py-2" routerLink="/register">GET STARTED</button>
                </div>

                <div class="col-md-6">
                  <button class="btn btn-outline-light learnMoreBtn my-3 py-2" routerLink="/about">LEARN MORE</button>
                </div>


              </div>

              <img id="circle_greeny" src="assets/images/circle-greeny.svg" alt="">
              <img id="circle_grey" src="assets/images/circle-grey.svg" alt="">
              <img id="circle_grey2" src="assets/images/circle-grey.svg" alt="">



            </div>

            <div class="col-md-6 pl-5" id="doctor">
              <img id="doctor_svg" src="assets/images/doctor.svg" alt="doctor">
              <img id="circle_greeny_doctor" src="assets/images/circle-greeny.svg" alt="">
              <img id="circle_grey_doctor" src="assets/images/circle-grey.svg" alt="">


            </div>

          </div>

        <!-- <div class="downArrow bounce text-center">
        <img width="40" height="40" src="assets/images/arrow-down-sign-to-navigate.svg" />
        </div> -->

      </div>

    </div>

  </main>

  <div class="container">
    <hr>
  </div>



  <div class="container downloadApp pt-5">
    <p class="text-center mb-5">
      <span><i class="fas fa-gem"></i></span>
    </p>
    <div class="row">


      <div class="col-md-6">

        <h1 class="mb-3">Get Your Free <br>Download of <br>the <span class="appName">Kamsos</span> App</h1>
        <p>Tap into a world of better livestock health care in the palm of your hands!</p>

        <div class="my-5">
          <div class="row">

            <div class="col-xs-6 col-sm-6 col-md-6 my-3 text-center">
              <button class="btn btn-outline-dark appDownloadBtn  py-2">
                <div class="row">
                  <div class="col-md-3">
                    <span>
                      <img src="assets/images/Apple_Store.svg">
                    </span>
                  </div>
                  <div class="col-md-9">
                    <span>Available on <strong>App Store</strong></span>
                  </div>

                </div>
              </button>
            </div>

            <div class="col-xs-6 col-sm-6 col-md-6 my-3 text-center">
              <button class="btn btn-outline-dark appDownloadBtn py-2">
                <div class="row">
                  <div class="col-md-3">
                    <span>
                      <img src="assets/images/google_play.svg">
                    </span>
                  </div>
                  <div class="col-md-9">
                    <span>Available on <strong>Google Play</strong></span>

                  </div>

                </div>
              </button>
            </div>

          </div>
        </div>

      </div>

      <div class="col-md-6 screenshots">

        <img src="assets/images/screenshots/login.png" id="login">
        <img src="assets/images/screenshots/signUp.png" id="signUp">
        <img src="assets/images/screenshots/main.jpeg" id="main">


      </div>

    </div>
  </div>

  <br>
  <br>

  <div class="container-fluid features">

    <div class="container py-4">
      <h1 class="text-center mt-5"><strong>App Features</strong></h1>
      <p class="text-center">
        <span><i class="fas fa-gem"></i></span>
      </p>

      <h2 class="text-center my-5">What Our App can help you achieve </h2>

      <br>
      <div class="row">
        <div class="col-md-4 text-center">

          <div class="card">
            <img src="assets/images/stethoscope.svg">
            <h3 class="my-3"> Animal Health & Production Specialists</h3>
            <p>Contact Veterinary Doctors, Animal Health and Production Specialist just a click away!</p>

          </div>

        </div>
        <div class="col-md-4 text-center">
          <div class="card">
            <img src="assets/images/medication.svg">
            <h3 class="my-3">Agrovets and Drugs</h3>
            <p>Visit where famers can purchase agricultural and veterinary products. Farming can be very unproductive without the products that Kenyan agrovets are stocking!</p>
          </div>



        </div>
        <div class="col-md-4 text-center">

          <div class="card">
            <img src="assets/images/question.svg">
            <h3 class="my-3">Campaigns and Notices</h3>
            <p>Recent Mass Animal Health, Production and Marketing Campaigns and Notices!</p>

          </div>

        </div>

      </div>

      <br>

      <div class="row mb-5">
        <div class="col-md-4 text-center">

          <div class="card">
            <img src="assets/images/book.svg">
            <h3 class="my-3">Farmer Education</h3>
            <p>Stay aware of fast-moving developments in technology, science, business management, and an array of other skills and fields that affect agricultural operations!</p>

          </div>

        </div>
        <div class="col-md-4 text-center">
          <div class="card">
            <img src="assets/images/target.svg">
            <h3 class="my-3">Our Supporters</h3>
            <p>As always, behind every great work there are a great supporters, sponsers and contributers!</p>
          </div>



        </div>
        <div class="col-md-4 text-center">

          <div class="card">

            <img src="assets/images/attach.svg">
            <h3 class="my-3">Kamsos Gallery</h3>
            <p>Visit our gallery to see exiting captions of Kamsos' moments of services to community!</p>

          </div>

        </div>

      </div>

    </div>

  </div>





  <div class="container page">
    <!-- <div class="row">

      <div class="col-md-9">
        <div class="feed-toogle">
          <ul class="nav  nav-pills outline-active">
            <li class="nav-item">
              <a class="nav-item">
                Agrovets
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link">
                Vets
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-md-3">
        <div class="sidebar">
          <p>Your History</p>
        </div>
      </div>

    </div> -->
    </div>
  </div>
</div>

<div class="home-page" *appShowAuthed="true">
  <br><br><br><br>
  <app-vet-list></app-vet-list>
</div>
