.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

/* ************************************* */
/* Landing Page section */
/* ************************************* */
.welcome {
  overflow-x: hidden;
}

.welcome h1 {
  color: #3c4043;
  font-size: 45px;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 20%;
}

.welcome p {
  letter-spacing: 1px;
  font-size: 20px;
  color: #5f6368;
}

.welcome #doctor_svg {
  height: 600px;
}

.learnMoreBtn {
  width: 200px;
  font-weight: 600;
  border: 2px solid #9aa289;
  transition: all .3s ease;
  color: #9aa289;
}

.learnMoreBtn:hover {
  background-color: #9aa289;
  color: #fff;
  /* box-shadow: 0 40px 30px 1px rgba(0, 0, 0, 0.6); */
}

#circle_greeny {
  width: 400px;
  height: 400px;
  position: absolute;
  top: 10px;
  left: -200px;
  z-index: -10;
  opacity: 0.5;
}

#circle_grey {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 10px;
  left: 20px;
  z-index: -10;
  opacity: 0.5;
}

#circle_grey2 {
  width: 200px;
  height: 200px;
  position: relative;
  top: 10px;
  left: 20px;
  z-index: -10;
  opacity: 0.5;
}

#circle_greeny_doctor {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 10px;
  right: 20px;
  z-index: -10;
  opacity: 0.7;
}

#circle_grey_doctor {
  width: 100px;
  height: 100px;
  position: relative;
  top: -200px;
  right: 20px;
  z-index: -10;
  opacity: 0.7;
}

/* ************************************* */
/* downloadApp section */
/* ************************************* */
.downloadApp {}

.downloadApp h1 {
  color: #3c4043;
  font-size: 45px;
  font-weight: 400;
}

.downloadApp p {
  letter-spacing: 1px;
  font-size: 20px;
  color: #5f6368;
}

.downloadApp .appName {}

.downloadApp .appDownloadBtn {
  width: 200px;
  border-radius: 10px;
  font-weight: 600;
  transition: all .3s ease;
}

.downloadApp .appDownloadBtn:hover {
  box-shadow: 0 40px 30px 1px rgba(0, 0, 0, 0.6);
}

.downloadApp button span img {
  width: 50px;
  height: 50px;
}

.downloadApp .screenshots img {
  width: 240px;
  height: 470px;
  border-radius: 10px;
  box-shadow: 0 30px 30px 1px rgba(0, 0, 0, 0.4);
}

#login {}

#main {
  position: absolute;
  bottom: 30px;
  left: 300px;
}

#signUp {
  position: absolute;
  bottom: 15px;
  left: 150px;
}

/* ************************************* */
/* features section */
/* ************************************* */
.features {
  background-image: linear-gradient(120deg, #0009 80%, #0007), url("src/assets/images/architecture-building.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  color: #fff;
}

.features h2 {
  font-size: 30px;
}

.features .card {
  margin-bottom: 20px;
  padding: 10px 0 0 10px;
  height: 300px;
  border-radius: 10px;
  background-color: #fff5;
}

.features .row img {
  width: 70px;
  height: 70px;
}

.features .row h3 {
  font-weight: bold;
}

/* ************************************* */
/* ARROW ANIMATION */
/* ************************************* */
.downArrow {
  bottom: -20%;
  left: 50%;
}

.bounce {
  -moz-animation: bounce 3s infinite;
  -webkit-animation: bounce 3s infinite;
  animation: bounce 3s infinite;
}

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@media only screen and (max-width: 1270px) {
  .downloadApp .screenshots img {
    display: none;
  }

  #doctor_svg{
    display: none;
  }

  #circle_grey2,
  #circle_grey2, #circle_greeny_doctor {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  #doctor {
    position: relative;
    top: -50px;
    left: -50px;
  }

  #doctor_svg,
  #circle_greeny_doctor,
  #circle_grey_doctor {
    transform: scale(0.6);
  }

  #circle_grey2,
  #circle_grey2 {
    display: none;
  }

  .downloadApp .screenshots img {
    display: none;
  }

  .downloadApp .appDownloadBtn {
    font-size: 20px;
    width: 90%;
  }
}
