<div class="home-page">

  <div class="banner">
    <div class="container-fluid mt-5">
      <h1 class="logo-font">Kamsos</h1>
      <p>Kamsos will help you find <i>Veterinary/Animal</i> production services of your choice</p>
    </div>
  </div>

  <div class="container page">
    <div class="row">

      <div class="col-md-9">
        <div class="feed-toogle">
          <ul class="nav  nav-pills outline-active">
            <li class="nav-item">
              <a class="nav-item">
                Agrovets
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link">
                Vets
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-md-3">
        <div class="sidebar">
          <p>Your History</p>
        </div>
      </div>

    </div>
  </div>

</div>
