<nav class="navbar navbar-expand-lg fixed-top pr-5">
  <a class="navbar-brand" routerLink="/">
    <div class="logo container border-right">
      <img class="mr-3" src="assets/images/kamsoslogo.png">
        <span>Kamsos</span>
    </div>

  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
    <ul *appShowAuthed="false" class="navbar-nav">
      <li class="nav-item active mx-1">
        <a class="nav-link" routerLink="/">
          Home
        </a>
      </li>

      <li class="nav-item mx-1">
        <a class="nav-link" routerLink="/resources" routerLinkActive="active">
          Resources
        </a>
      </li>
      <li class="nav-item mx-1">
        <a class="nav-link" routerLink="/about" routerLinkActive="active">
          About
        </a>
      </li>
      <li class="nav-item mx-1">
        <a class="nav-link" routerLink="/contact" Active="active">
          Contact Us
        </a>
      </li>
      <!-- <li class="nav-item mx-1">
        <a class="nav-link" routerLinkActive="active">
          Learn
        </a>
      </li> -->
      <li class="nav-item mx-1">
        <a class="nav-link" routerLink="/login" routerLinkActive="active">
          Sign in
        </a>
      </li>

      <li class="nav-item mx-1">
        <a class="nav-link" routerLink="/register" routerLinkActive="active">
          Sign up
        </a>
      </li>

      <li class="nav-item mx-1">
          <button  routerLinkActive="active" class="btn btn-outline-success">
            Download
          </button>
      </li>
      <!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>-->
    </ul>

    <ul *appShowAuthed="true" class="navbar-nav">
      <li class="nav-item mx-1">
        <a class="nav-link" routerLinkActive="active">
          Home
        </a>
      </li>

      <li class="nav-item mx-1">
        <a class="nav-link" routerLinkActive="active">
          Vet
        </a>
      </li>

      <li class="nav-item mx-1">
        <a class="nav-link" routerLinkActive="active">
          Agrovet
        </a>
      </li>

      <li class="nav-item mx-1">
        <a class="nav-link" (click)="logout()" routerLinkActive="active">
          Logout
        </a>
      </li>

    </ul>
  </div>
</nav>
<br>
<br>
