nav {
  background-color: #fff;
  box-shadow: 0 5px 20px 1px rgba(0, 0, 0, 0.1);
}

nav .nav-link {
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  margin: 0px 10px;
  padding: 10px 10px;
  position: relative;
  z-index: 0;
  color: #000;
  cursor: pointer;
}

nav .nav-link:after {
  position: absolute;
  left: 10px;
  bottom: 0px;
  width: 40px;
  height: 5px;
  background: green;
  content: "";
  opacity: 0;
  border-radius: 20px;
  transform: translateX(-10px);
  transition: all 0.3s;
}
nav .nav-link:hover:after {
  opacity: 1;
  transform: translateX(0px);
}
nav .navbar-brand{
  display: inline-block;
}
nav .btn{
  font-size: 15px;
  font-weight: 600;
}

nav img {
  width: 50px;
  height: 50px;
  visibility: hidden;
}

.logo img{
  width: 50px;
  height: 50px;

}
.logo span {
  color: green;
  font-size: 24px;
  font-weight: 600;

}

/* #award_symbol{
  width: 50px;
  height: 50px;
}
#cow{
  width: 26px;
  height: 26px;
  position: relative;
  left: -38px;
} */

@media only screen and (max-width: 768px) {
  nav img{
    visibility: visible;
  }
}
